<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>

<body>
    <div class="container">
        <!-- score Box -->
        <div class="scoreBox">
            <div id="maxScore">91</div>
            <div id="currentScore">0</div>
            <div id="timeLeft">
                <p>49</p>
                <p>Tiles Left</p>
            </div>
        </div>
        <!-- letters Box -->
        <div class="letterBoxContainer">
            <!-- row-1 -->
            <div class="letterBoxContainer-1">
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='a' class="letterBox">
                        <p>A</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='e' class="letterBox">
                        <p>E</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='i' class="letterBox">
                        <p>I</p>
                        <span>1</span>
                    </div>
                    
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='o' class="letterBox">
                        <p>O</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='u' class="letterBox">
                        <p>U</p>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <!-- row-2 -->
            <div class="letterBoxContainer-2">
                <div class="letter">
                    <div id='b' class="letterBox">
                        <p>B</p>
                        <span>3</span>
                        <small>DL</small>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='c' class="letterBox">
                        <p>C</p>
                        <span>3</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='f' class="letterBox">
                        <small>DW</small>
                        <p>F</p>
                        <span>4</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='g' class="letterBox">
                        <small>TL</small>
                        <p>G</p>
                        <span>2</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='h' class="letterBox">
                        <p>H</p>
                        <span>4</span>
                    </div>
                </div>
            </div>
            <!-- row-3 -->
            <div class="letterBoxContainer-3">
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='l' class="letterBox">
                        <p>L</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div style="background:red"></div>
                    <div id='m' class="letterBox">
                        <p>M</p>
                        <span>3</span>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='n' class="letterBox">
                        <p>N</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div id='r' class="letterBox">
                        <p>R</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div id='s' class="letterBox">
                        <p>S</p>
                        <span>1</span>
                    </div>
                </div>
            </div>
            <!-- row-4 -->
            <div class="letterBoxContainer-4">
                <div class="letter">
                    <div></div>
                    <div id='t' class="letterBox">
                        <p>T</p>
                        <span>1</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='v' class="letterBox">
                        <p>V</p>
                        <span>4</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='w' class="letterBox">
                        <p>W</p>
                        <span>4</span>
                    </div>
                </div>
                <div class="letter">
                    <div id='y' class="letterBox">
                        <p>Y</p>
                        <span>4</span>
                    </div>
                </div>
                <div id='hide' class="letterBox">
                    <p>E</p>
                    <span>1</span>
                </div>
            </div>
        </div>
        <div class="box2">

        </div>
    </div>
</body>

</html>