@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

.container{
    background: #03A9F4;
    min-height:20px;
    width: 550px;
    margin:50px  auto;
}

.scoreBox{
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-template-areas: "max current time";
    text-align: center;
    color:white;
    padding:0 20px;
    font-weight: bold;
    justify-content: space-between;
}
#maxScore{
    font-family: serif;
    grid-area: max;
    padding-top:30px;
    text-align: left;
    font-size: 55px;
}
#currentScore{
    font-family:math;
    grid-area: current;
    font-size: 85px;
    padding: 20px 0  0 20px;
}
#timeLeft{
    padding-top:20px;
    grid-area: time;
    font-size: 30px
}
#timeLeft p{
    line-height: 5px;
}

.letterBoxContainer, .box2{
    background: #1E88E5;
    position: relative;
    z-index: 5;
    box-shadow:0px 5px 10px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.box2{
    margin-top: 100px;
    min-height: 100px;
}
.letterBoxContainer > div {
    display: flex;
    padding:20px 0 28px 0;
}
.letterBoxContainer > div:nth-child(2){
    padding:0
}
.letterBoxContainer > div:nth-child(4){
    /* border-style: double; */
    padding: 10px 0 15px 0;
}
.letterBox{
    border-radius: 5px;
    margin:10px;
    width: 90px;
    height: 90px;
    background: white;
    position: relative;
}
.letterBox > p{
    border-radius: 5px;
    font-size: 50px;
    margin:3px;
    /* padding:3px 3px; */
    position: relative;
    /* left: 5px; */
    text-align: center;
    top:2px;
    border: 2px dashed black;
}
.letterBox span{
    position: absolute;
    bottom:5px;
    right: 8px;
}
.letter{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column-reverse;
}
.letter > div{
    min-height: 6px;
    background: white;
    margin:2px 10px;
    border-radius: 5px;
}
#hide{
    visibility: hidden;
}
small{
    position: absolute;
    top:6px;
    left:6px;
    font-weight: bold;
}
#b{
    background: orange;
}
#b > p, #f > p, #g > p{
    border-color: white;

}
#f{
    background: #00FF00;
}
#g{
   background: #03A9F4;
}


