@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
nav a{
    color: black;
}
.navbar-box{
    padding:20px 10px;
    /* padding:5px auto; */
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    z-index: 10;
    /* box-shadow: 0px 2px 5px rgb(170, 169, 169); */

}

#menu{
    padding-top:5px;
    cursor:all-scroll;
}
.navbar-box img{
    padding-top:5px;
    width: 110px;
}
a:hover{
    color:black;
}
.login, .login:hover{
    color: #00000099;
    font-weight: bold;
    font-size: 15px;
}
.signup, .signup:hover{
    padding:  10px 20px;
    background: #3ac379;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.nav{
    display: none;
}
.nav-display i{
    padding:0;
    margin:0;
    position: absolute;
    
}


/* side nav */
.side-nav{
    display: none;
    position: fixed;
    z-index: 11;
    width: 340px;
    height: 933px;
    background: #4e4e91; 
    padding: 35px 0; 
}
.side-nav-collapse{
    display:block;
}
#collapse-side{
    position: absolute;
    right: 20px;
    color: white;
    top:10px;
    cursor:all-scroll;
}

.menu-items{
    background: #4e4e91
}


/* --------------business needs------------ */
.business-needs{
    margin-top:80px;
    padding:0px 5px;
    text-align: center;
}
.get-email > div{
    max-width: 400px; 
    margin:auto;

}
.get-email span{
    color:#e25528;
}
.get-email h1{
    font-family: 'Roboto', sans-serif;
    color:#595975;
    font-size: 30px;
    font-weight: 600;
    margin-bottom:20px;
}
.get-email p{
    padding: 0 30px;
    color:#575764;
    font-size: 15px;
}
.email-input{
    padding: 0 40px;
    /* width: 150px; */
}
.get-email input{
    border:1px solid black;
    padding-left:10px;
}

.business-video {
    text-align: center;
    margin: 40px auto;
    /* border:1px solid red; */
}
#business-video {
    width: 220px;
    height: 160px;
    margin:40px auto;    
}
.scroll-button p{
    font-weight: bold;
    color: #00000032;
}
.scroll-button a{
    text-decoration: none;
}
/* ------------------------------business-start------------------------------- */
.business-start{
    /* margin-top:100px; */
    margin-bottom: 30px;
    background:#f3f5f8;
    min-height: 100px;
    padding:30px 0;
}

.business-start p{
    color:#575764;
    font-weight: 600;
    width: 260px;
    font-size: 20px;
    margin: 20px auto;
}
.business-start span, .s-y-b-inner-text span, .m-y-b-inner-text span, .why-business  h3, .g-y-b-inner-text span{
    color: #e25528;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}
/* -------------------------start your business----------------- */
.s-y-b-inner-text h2, .m-y-b-inner-text, .g-y-b-inner-text{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold !important;
}
.inner-para p{
    color:#575764;
    font-size: 15px;
}
.inner-icons img{
    width: 50px;
}
.payment-inner-icon-box, .manage-inner-icon-box, .grow-inner-icon-box{
    margin: auto ;
}
.inner-icons{
    width: 430px;
}
.inner-icons p{
    font-size: 12px;
}
.s-y-b-button button, .m-y-b-button button, .g-y-b-button button{
    padding: 10px 25px;
    margin-top: -10px;
}
.s-y-b-button, .m-y-b-button, .g-y-b-button {
    padding-top: 5px;
}

/* ---------------------business Journey--------------------- */
.business-journey{
    margin: auto;
    padding: 50px 0;
    background: #4e4e91;
}

.business-journey h3{
    color: white;    
}
.business-journey form{
    flex-direction: column;
    /* margin: auto; */
    max-width: 500px;
    margin: 25px auto;
    position: relative;
}
.business-journey input{
    padding: 9px 5px;
    border: 2px solid white;
    border-radius: 5px;
    background:#a7a7c8;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.business-journey button{
    color: #404092;
    font-weight: bold;
    background: white;
    /* margin: 20px; */
    padding:5px 30px ;
}

.fixed-pos{
    position: fixed;
    background: #00000032;
    width: 50px;
    height: 50px;
    bottom: 125px;
    right: 0;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
}

/* footer */
.footer-box{
    background: #4e4e91;
    margin: 0;
    position: relative;
}
.footer-container {
    /* border:1px solid red; */
    padding-top:200px;

}
.footer-links > h3{
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
}
.footer-links > p{
    font-size: smaller;
    color: rgb(212, 204, 204);
    line-height: 10px;
    font-weight: lighter;
}
.footer-image img{
   width: 100px;
   margin-left: -10px;
}
.footer-image{
    padding-left: 20px;
}
.footer-image small{
    color: rgb(212, 204, 204);
}
.keep-in-touch{
    line-height: 10px;
    margin-top: 30px;
    padding: 30px auto;
}
.keep-in-touch img{
    width: 15px;
    margin-right: 10px;
}
.paly-store img{
    width: 130px;
}
.paly-store{
    /* border:1px solid red; */
    margin: 50px auto;
}
.last-row small{
    margin-bottom: 20px;
    /* background: red; */
}

#sponser-img{
    background-image: url(images/logo_grup_mobile_1.webp);
    background-position: center;
    background-repeat: no-repeat;
}
/* ----------------------------------why-business--------------------------------------- */
.why-business{
    background:#f3f5f8;
   margin: auto;
}
.why-business > div{
    margin: auto 200px;
}
.why-business i{
    color: #e25528;
    padding-top: 20px;
    font-size: 25px;
}



/* *************************************************************************************************
                                            Responsive
****************************************************************************************************
 */


 /* ---------------------medium screen ----------------------- */
@media (min-width: 768px){
    .business-needs{
        text-align:left;
    }
    .get-email h1{
        font-size: 35px;
    }
    .get-email p{
        font-size: 18px;
        padding: 0;
    }
    .email-input{
        padding-right: 40px;
        padding-left: 15px;
        /* width: 150px; */
    }
    .email-btn button{
        padding:10px 0;
    }
    
    .business-start p{
        width: auto;
        margin:auto;
        line-height: 40px;
    }
    #business-video {
        width: 250px;
        height: 160px;
        margin:40px auto;    
    }
    .s-y-b-inner-text, .m-y-b-inner-text, .g-y-b-inner-text{
        margin:0px 100px;
    }
    .business-journey button{
        position: absolute;
        bottom: 0px;
        right: 25px;
        padding:10px 30px;
        border-left: none !important;
       border-radius: 0 5px  5px 0
    }
    .business-journey input{
        margin-bottom: 0px;
    }
    .side-nav{
        width: 400px;
    }

    /* footer */

.footer-links > h3{
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.footer-links > p{
    color: rgb(212, 204, 204);
    line-height: 10px;
    font-weight: lighter;
    font-size: 15px;
}
.footer-links{
    /* border:1px solid red; */
    margin: 20px auto;
}
.footer-image img{
   width: 180px;
   margin-left: -15px;
}
.footer-image small{
    font-size: 15px;
}
.keep-in-touch img{
    width: 20px;
    margin-right: 10px;
}
.keep-in-touch small{
    font-size: 17px;
}
.last-row small{
    font-size: 15px;
}
.paly-store{
    margin: 0;
}
.paly-store img{
    padding-bottom:25px;
}

}

/* ------------------------large screen------------------- */
@media (min-width: 992px){

   .navbar-box{
    margin:0px 0px;
    padding:auto 30px;
   }
   .navbar-box img{
    width: 170px;
    padding-top:0px;
   }
   
   nav > a {
       margin:0 5px;
       font-size: 15px;
       position: relative;
    }
   
    .submenu-collapse{
        display: none;
        width: 230px;
        min-height: 150px;
        position: absolute;
        top: 40px;  
        left:15px; 
    }
    .last-submenu{
       
        width: 600px;
        min-height: 150px;
        top: 40px;  
        left:-510px; 
        right: 0;

    }
    .submenu{
        display: block;
    }
    
    .submenu-items > li{
       color:#575764;
    }
    span{
        padding-right:10px;
        
    }
    .login, .login:hover{
       
        border:1px solid black;
       padding:0 20px;
    }  
    .get-email h1{
        font-size: 50px;
    }
    .get-email p{
        font-size: 20px;
    }
    .get-email > div{
        max-width: 350px;
    }
    .email-input {
        /* border:1px solid red; */
        padding-right: 80px;
    }
    
    .business-start p{
        font-size: 30px ;
        font-weight: 500;
        padding: 35px 0;
    }
    .business-start span{
        font-weight: 900;
    }
    #business-video {
        width: 350px;
        /* height: 160px; */
        margin:40px auto;    
    }
    .s-y-b-inner-text, .m-y-b-inner-text, .g-y-b-inner-text{
        text-align: left;
        margin:30px;
    }
   #start-your-business, #manage-your-business, #grow-your-business{
       padding: 10px 40px;
   }    
   .s-y-b-button, .m-y-b-button, .g-y-b-button{
    text-align: left;
    padding-left: 30px;
   }
   
   .inner-text h2{
       
       font-size: xx-large;
   }
   .inner-para p{
        font-size: 16px;
        line-height: 30px;
        padding-right: 20px;
   }
   .inner-icons{
       width: 300px;
   }
   .inner-icons p{
       padding:auto 0;
       font-size: 14px;
   }
   .inner-icons img{
       width: 40px;
   }
   #sponser-img{
       background-image: url(images/logo_group-1.webp);
       background-repeat: no-repeat;
   }
}
/* ------------------------max screen------------------------ */
@media (min-width:1200px){
    .signup, .signup:hover{
        padding:  10px 20px;
        background: #3ac379;
    }
    
    .login, .login:hover{
        padding: 8px 25px;
        border:1px solid black;
        font-size: 17px;
    }
    nav > a {
        margin:0 10px;
    }
    .navbar-box {
        margin:0;
        padding: 20px 90px;
        /* border-style: solid; */
    }
    #business-video {
        width: 430px;
        /* height: 160px; */
        margin: auto;    
    }
    .email-input{
        padding:0px;
        margin-left: 15px;
    }
    .inner-icons{
        width: 360px;
        margin-left: 0;
    }
    .payment-inner-icon-box, .manage-inner-icon-box,  .grow-inner-icon-box{
        margin-left: -70px;
    }
    .s-y-b-button button, .m-y-b-button button, .g-y-b-button button{
        margin-top: 10px;
        margin-left:-10px;
    }
    .business-journey h3{
        font-size: 42px;
        font-weight: bolder;    
    }
    
}
