@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
nav a{
    color: black;
}
.navbar-box img{
    width: 100px;
}
a:hover{
    color:black;
}
.login, .login:hover{
    color: #00000099;
    font-weight: bold;
    font-size: 13px;
}
.signup{
    font-size: 13px;
    font-weight: bold;
}
.nav{
    display: none;
}
i{
    padding:0;
    margin:0;
    position: absolute;
    
}
.navbar-box{
    margin:0px -10px;
}


/* --------------business needs------------ */
.business-needs{
    margin-top:80px;
    padding:0px 5px;
    text-align: center;
}
.get-email > div{
    max-width: 400px; 
    margin:auto;

}
.get-email span{
    color:#e25528;
}
.get-email h1{
    font-family: 'Roboto', sans-serif;
    color:#595975;
    font-size: 30px;
    font-weight: 600;
    margin-bottom:20px;
}
.get-email p{
    padding: 0 30px;
    color:#575764;
    font-size: 15px;
}
.email-input{
    padding: 0 40px;
    /* width: 150px; */
}
.get-email input{
    border:1px solid black;
}

.business-video {
    text-align: center;
    margin: 40px auto;
    /* border:1px solid red; */
}
#business-video {
    width: 220px;
    height: 160px;
    margin:40px auto;    
}

/* ------------------------------business-start------------------------------- */
.business-start{
    margin-top:100px;
    margin-bottom: 30px;
    background:#f3f5f8;
    min-height: 100px;
    padding:30px 0;
}

.business-start p{
    color:#575764;
    font-weight: 600;
    width: 260px;
    font-size: 20px;
    margin: 20px auto;
}
.business-start span, .s-y-b-inner-text span, .m-y-b-inner-text span, .g-y-b-inner-text span{
    color: #e25528;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
}
/* -------------------------start your business----------------- */
.s-y-b-inner-text h2, .m-y-b-inner-text, .g-y-b-inner-text{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold !important;
}
.inner-para p{
    color:#575764;
    font-size: 15px;
}
.inner-icons img{
    width: 50px;
}
.payment-inner-icon-box, .manage-inner-icon-box, .grow-inner-icon-box{
    margin: auto ;
}
.inner-icons{
    width: 430px;
}
.inner-icons p{
    font-size: 12px;
}
.s-y-b-button button, .m-y-b-button button, .g-y-b-button button{
    padding: 10px 25px;
    margin-top: -10px;
}
.s-y-b-button, .m-y-b-button, .g-y-b-button {
    padding-top: 5px;
}
/* ---------------------medium screen ----------------------- */
@media (min-width: 768px){
    .business-needs{
        text-align:left;
    }
    .get-email h1{
        font-size: 35px;
    }
    .get-email p{
        font-size: 18px;
        padding: 0;
    }
    .email-input{
        padding-right: 40px;
        padding-left: 15px;
        /* width: 150px; */
    }
    .email-btn button{
        padding:10px 0;
    }
    
    .business-start p{
        width: auto;
        margin:auto;
        line-height: 40px;
    }
    #business-video {
        width: 250px;
        height: 160px;
        margin:40px auto;    
    }
    .s-y-b-inner-text, .m-y-b-inner-text, .g-y-b-inner-text{
        margin:0px 100px;
    }


}

/* ------------------------large screen------------------- */
@media (min-width: 992px){
   .nav-display{
       display: block !important;
   }
   .navbar-box{
    margin:0px 0px;
   }
   .navbar-box img{
    width: 150px;
   }
   nav > a {
       margin:0 5px;
       font-size: 15px;
    }
    span{
        padding-right:10px;
        
    }
    .login, .login:hover{
       
        border:1px solid black;
       padding:0 20px;
    }  
    .get-email h1{
        font-size: 50px;
    }
    .get-email p{
        font-size: 20px;
    }
    .get-email > div{
        max-width: 350px;
    }
    .email-input {
        /* border:1px solid red; */
        padding-right: 80px;
    }
    
    .business-start p{
        font-size: 30px ;
        font-weight: 500;
        padding: 35px 0;
    }
    .business-start span{
        font-weight: 900;
    }
    #business-video {
        width: 350px;
        /* height: 160px; */
        margin:40px auto;    
    }
    .s-y-b-inner-text, .m-y-b-inner-text, .g-y-b-inner-text{
        text-align: left;
        margin:30px;
    }
   #start-your-business, #manage-your-business, #grow-your-business{
       padding: 10px 40px;
   }    
   .s-y-b-button, .m-y-b-button, .g-y-b-button{
    text-align: left;
    padding-left: 30px;
   }
   
   .inner-text h2{
       
       font-size: xx-large;
   }
   .inner-para p{
        font-size: 16px;
        line-height: 30px;
        padding-right: 20px;
   }
   .inner-icons{
       width: 300px;
   }
   .inner-icons p{
       padding:auto 0;
       font-size: 14px;
   }
   .inner-icons img{
       width: 40px;
   }
}
/* ------------------------max screen------------------------ */
@media (min-width:1200px){
    .signup, .signup:hover{
        padding:  10px 20px;
        background: #3ac379;
    }
    
    .login, .login:hover{
        padding: 8px 25px;
        border:1px solid black;
        font-size: 17px;
    }
    nav > a {
        margin:0 10px;
    }
    .navbar-box {
        margin:0;
        padding: 0 100px;
    }
    #business-video {
        width: 430px;
        /* height: 160px; */
        margin: auto;    
    }
    .email-input{
        padding:0px;
        margin-left: 15px;
    }
    .inner-icons{
        width: 360px;
        margin-left: 0;
    }
    .payment-inner-icon-box, .manage-inner-icon-box,  .grow-inner-icon-box{
        margin-left: -70px;
    }
    .s-y-b-button button, .m-y-b-button button, .g-y-b-button button{
        margin-top: 10px;
        margin-left:-10px;
    }
    
}
